.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90%;
  max-width: 1110px;
  margin: auto;
}

@media screen and (min-width: 800px) {
  .login-form-container {
    flex-direction: row;
    justify-content: space-around;
  }
}

.login-website-logo-mobile-image {
  width: 165px;
  margin-top: 50px;
  margin-bottom: 35px;
}

@media screen and (min-width: 800px) {
  .login-website-logo-mobile-image {
    display: none;
  }
}

.login-image {
  width: 278px;
}

@media screen and (min-width: 992px) {
  .login-image {
    width: 60%;
    max-width: 524px;
    flex-shrink: 1;
    margin-right: 20px;
  }
}

.login-website-logo-desktop-image {
  width: 185px;
}

@media screen and (max-width: 991px) {
  .login-website-logo-desktop-image {
    display: none;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 350px;
  background: transparent linear-gradient(180deg, #000000 0%, #000e09 100%) 0%
    0% no-repeat padding-box;
  mix-blend-mode: normal;
  border-radius: 28px;
  opacity: 1;
}

@media screen and (min-width: 992px) {
  .form-container {
    width: 350px;
    flex-shrink: 0;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 64px 48px 64px 48px;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

.input-label {
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
}

.username-input-filed {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background: #1f191966 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 3px #fffdfd40, 3px 3px 3px #4a494947;
  color: #64748b;
  border-radius: 20px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  mix-blend-mode: normal;
  opacity: 1;
}

.password-input-filed {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background: #1f191966 0% 0% no-repeat padding-box;
  box-shadow: inset 0px 3px 3px #fffdfd40, 3px 3px 3px #4a494947;
  color: #64748b;
  border-radius: 20px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  mix-blend-mode: normal;
  opacity: 1;
}

.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background: transparent
    linear-gradient(180deg, #00ff2580 0%, #000000 100%, #36a54680 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 8px;
  border: none;
  mix-blend-mode: normal;
  border: 2px solid #8cff0026;
  border-radius: 20px;
  opacity: 1;
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}

.paragraph {
  color: #36a546cc;
}

.forgot {
  text-align: center;
  font: normal normal normal 15px/20px Mulish;
  letter-spacing: 0.02px;
  color: #36a546;
  opacity: 1;
  padding: 10px;
}
